<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>379560208355-s4cehf4udfq13kmcpjbe0kivv7pojlmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379560208355-s4cehf4udfq13kmcpjbe0kivv7pojlmt</string>
	<key>API_KEY</key>
	<string>AIzaSyC2B2b6aykCKiQWEYC3erda3P8TkNOtYks</string>
	<key>GCM_SENDER_ID</key>
	<string>379560208355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.litroom.pokefinder</string>
	<key>PROJECT_ID</key>
	<string>pokefinder-374be</string>
	<key>STORAGE_BUCKET</key>
	<string>pokefinder-374be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:379560208355:ios:d99d443663fb503a</string>
	<key>DATABASE_URL</key>
	<string>https://pokefinder-374be.firebaseio.com</string>
</dict>
</plist>